/.DS_Store
/TestingExample.xcodeproj/project.xcworkspace/xcuserdata/jt.xcuserdatad/UserInterfaceState.xcuserstate
/TestingExample.xcodeproj/xcuserdata/jt.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
